In [1]:
import numpy as np
import pandas as pd

# List in Python

In [8]:
# Q. Create a function that will count the occurence of a element in the list
# Ex:
lst=[3,4,1,2,66,43,21,2,623,2,3,4]
# element_to_find=3
# Output:2

#First Solution
def count_occurence(lst,element):
    count=0
    for num in lst:
        if (num==element):
            count+=1
    return count


# count_occurence(lst,3)

#Second Solution using Count Function

def count_occurenec2(lst,element):
    return lst.count(element)

print("Second method-----",count_occurenec2(lst,3))

Second method----- 2

In [5]:
lst.count(3)

2

# Use reduce function to multiple all the numbers in the reduce

Answer this question using two methods

Ex: 

lst=[3,4,5,1]

Output: 60

In [13]:
from functools import reduce
lst=[3,4,1,2,66,43,21,2,623,2,3,4]

print("The product after multiplying all numbers",reduce(lambda x,y:x*y,lst))

The product after multiplying all numbers 42773246208

In [23]:
lst=[3,4,1,2,66,623,666,5432,5,623,2,3,4,999]
np.prod(lst)

1941948416

# List the product excluding the duplicates in the list

lst=[3,3,3,3,3,5]

Output:3*5

In [27]:
lst=[3,3,3,3,3,5,3,21,32,5,52,21]

lst=list(set(lst))
np.prod(lst)

524160

# Write a python program to print all the combination of 3 digit number

Lst=[1,5,7]

In [28]:
lst=[1,5,7]

for i in range(3):
    for j in range(3):
        for k in range(3):
            if (i!=j and j!=k and k!=i):
                print(lst[i],lst[j],lst[k])

1 5 7
1 7 5
5 1 7
5 7 1
7 1 5
7 5 1

# Strings

In [30]:
# Find whether the string is a palindrome or not

# Ex: String="Nitin"
    
#     Output:Yes
        
# Ex: String:"Inder"
        
#     Output:No

In [33]:
def is_palindrome(string):
    string=string.lower()# because upper case and lower case characters are treated differently
    if string==string[::-1]:
        return "Yes"
    else:
        return "No"

In [34]:
is_palindrome("Nitin")

'Yes'

In [35]:
# Q2. Count the frequency of each character in the string and find who has the maximum frequency

# Example:
    
# String="My name is Inderpreet"

# Output:
# dict1={"m":2,"y":1,"n":2,"a":1,"e":4}
# Maximum frequency is 4

In [50]:
string = 'My name is Inder ee'
string = string.lower()
out = {x : string.count(x) for x in set(string ) if x!=' '}
out

{'s': 1, 'd': 1, 'i': 2, 'n': 2, 'e': 4, 'r': 1, 'y': 1, 'a': 1, 'm': 2}

In [51]:
dict_freq={x : string.count(x) for x in set(string ) if x!=' '}
print("The maximum frequency is----",max(dict_freq.values()))

The maximum frequency is---- 4

In [54]:
print("The character with maximum frequence--->",max(dict_freq,key=dict_freq.get))

The character with maximum frequence---> e

# Count the no of vowels in the string

Example: 

string="Upgrad"
Output: 1

string2="India"
Output: 3

In [55]:
def count_vowels(string):
    vowel_string="AEIOU"
    count=0
    string=string.upper()
    for alphabet in string:
        if alphabet in vowel_string:
            count+=1
    return count

In [56]:
count_vowels("India")

3

# How to remove ith character from the string

String:"Rohit"


ith character:2

Output:Roit

In [58]:
#First Solution

string = "rohit"
string.replace(string[2], '')

'roit'

In [59]:
def remove_ith_charachter(string,ith):
    Character_before_ith_index=string[:ith]
    Character_after_ith_index=string[ith+1:]
    
    return Character_before_ith_index+Character_after_ith_index

In [60]:
remove_ith_charachter("rohit",2)

'roit'

# Dictionaries

In [73]:
dict1={"Inder":56,"Vikas":78,"Alok":48,"Vishal":72}

#Q. Sort the dictionary based on value in ascending order
# dict1.items()
sorted(dict1.items(),key=lambda kv:(kv[1],kv[0]))

[('Alok', 48), ('Inder', 56), ('Vishal', 72), ('Vikas', 78)]

In [82]:
a={"Inder":56,"Vikas":78,"Alok":48,"Vishal":72}

dict(sorted(a.items(),key=lambda x:(x[1],x[0])))

{'Alok': 48, 'Inder': 56, 'Vishal': 72, 'Vikas': 78}

In [81]:
list(a.items())[0][1]

56

# Get Function

Syntax:
Dictionary_name.get(keyname,value)

This method is very useful when we are checking for the key. If the key is present it will give you the associated value else it will give the defined value

In [83]:
a

{'Inder': 56, 'Vikas': 78, 'Alok': 48, 'Vishal': 72}

In [89]:
a.get('Sangha',"Not Found")

'Not Found'

# setDefault Function

In [91]:
# It is very similiar to get function but the
#difference if a key is absent a new key will created with the defined value

In [93]:
a.setdefault("Sangha","Not present")

'Not present'

In [94]:
a

{'Inder': 56, 'Vikas': 78, 'Alok': 48, 'Vishal': 72, 'Sangha': 'Not present'}

In [95]:
a.setdefault('Marks',[])
a

{'Inder': 56,
 'Vikas': 78,
 'Alok': 48,
 'Vishal': 72,
 'Sangha': 'Not present',
 'Marks': []}

# How to Insert element at the beginning of dictionary

In [96]:
# dict1={"Vikas":67,"Alok":89}

# Output:
# dict1={"Sangha":65,"Vikas":67,"Alok":89}

An OrderedDict is a dictionary subclass that remembers the order that keys were first inserted. The only difference between dict() and OrderedDict() is that:

OrderedDict preserves the order in which the keys are inserted. A regular dict doesnâ€™t track the insertion order and iterating it gives the values in an arbitrary order. By contrast, the order the items are inserted is remembered by OrderedDict.

In [97]:
dict1={"Vikas":67,"Alok":89}
dict1

{'Vikas': 67, 'Alok': 89}

In [105]:
from collections import OrderedDict
dict1=OrderedDict(dict1)
dict1

OrderedDict([('Vikas', 67), ('Alok', 89), ('Sangha', 56)])

In [106]:
dict1.update({"Sangha":56})
dict1

OrderedDict([('Vikas', 67), ('Alok', 89), ('Sangha', 56)])

In [108]:
dict1.move_to_end("Sangha",last=False)
dict(dict1)

{'Sangha': 56, 'Vikas': 67, 'Alok': 89}

In [ ]:
# #Q. Write a python program to remove the keys in the dictionary with substring values


# Example:
    
# Dict1={"Sentence":"My name is Inderpreet","Sentence2":"I love upgrad platform"}
# substring_list=["love"]

# Output:
#     {"Sentence":"My name is Inderpreet"}

In [126]:
Dict1={"Sentence":"My name is Inderpreet","Sentence2":"I love upgrad platform"}
substring_list=["love"]
new_dict={}

for key,value in Dict1.items():
    print(key,"it is",value)
#     if substring_list[0] not in value:
    if value.find(substring_list[0])==-1:
        new_dict[key]=value
new_dict

Sentence it is My name is Inderpreet
Sentence2 it is I love upgrad platform

{'Sentence': 'My name is Inderpreet'}

# Zip in Dictioanaries

In [130]:
Name=["Inder","Biswa","Rohit"]
Marks=[76,87,85]

dict(zip(Name,Marks))

{'Inder': 76, 'Biswa': 87, 'Rohit': 85}

In [131]:
{Name:Marks for Name,Marks in zip(Name,Marks)}

{'Inder': 76, 'Biswa': 87, 'Rohit': 85}

In [133]:
days=["Monday","Tuesday","Wednesday"]
Temp=["34","42",41]

# Q. Create a dictionary out of these lists

dict(zip(days,Temp))

{'Monday': '34', 'Tuesday': '42', 'Wednesday': 41}

# Key with the maximum unique values

Example:

Dictonary={"Marks":[77,34,56,67],"Marks2":[66,45,45,67],"Marks3:[54,67,87,67,32,83]}

Output: Marks3

In [135]:
dict1={"Marks":[77,34,56,67],"Marks2":[66,45,45,67],"Marks3":[54,67,87,67,32,83]}

max_unique_value_in_lst=0
max_key=None

for key in dict1:
    if(len(set(dict1[key]))>max_unique_value_in_lst):
        max_unique_value_in_lst=len(set(dict1[key]))
        max_key=key

print("The maximum key with unique values-----> ",max_key)

The maximum key with unique values----->  Marks3

# List Comprehension

List comprehension are used for creating new list from iterables like tuples,dictioanaries,list,arrays.

A list comprehension will consist of square brackets

In [136]:
string="Sanghamitra sahoo"

[character for character in string]

['S',
 'a',
 'n',
 'g',
 'h',
 'a',
 'm',
 'i',
 't',
 'r',
 'a',
 ' ',
 's',
 'a',
 'h',
 'o',
 'o']

# Create a list using list compreshension which will store squares of numbers from 1 to 10

In [137]:
[number**2 for number in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Reverse a list of strings using List Comprehension

In [139]:
list1=["Inderpreet","Sangha","Aditya"]

# Output:
# Output:["teerprednI","ahgnaS","aytidA"]
    
[string[::-1] for string in list1]

['teerprednI', 'ahgnaS', 'aytidA']

# Home Work
# Print out the sum of digits of odd element present in the list

Example: [131,213,34,22]

Output: [5,6,7]